
@import url('../css/font.css');

*{
  margin:0%;
  padding:0%;
  text-decoration: none;
  box-sizing: border-box;
} 
:root{
  --Poppins:'Poppins';
  --Open_Sans:'Open_Sans';
  --Roboto:'Roboto';
  --Titillium_Web:'Titillium_Web';
}

/* Global variable--------------------> */


/* Gloabl variable--------------------> */

/* nav--------------------> */
 .seaction-main{
  width:100%;
  min-height: 100vh;
  position: relative;
  background: url('../assets/Homebanner.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}
header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  display: flex;
  padding: 15px 30px; 
  margin: auto;
  transition: 0.6s;
  border-bottom:1px solid #000 ;
}
nav{
  width: 100%;
  justify-content: center;
  text-align: center;
}

header.sticky{
  background: #fff;
  padding: 15px 30px;
  border-bottom: 1px solid #000;

}
header .menu-btn{
  float:left;
  /* color: #000; */
  width: 25%;
  padding-top: 13px;
  padding-right: 14rem;
  font-size: 20px;
  cursor: pointer;

}
.menu-btn a {
  color: #000;
}
header .logo{
  float: left;
  padding: 5px 0;
  width: 50%;
  border-right: 1px solid #000;
  border-left: 1px solid #000;

 
}

 header .right-menu{
  float:right;
  display: flex;
  align-items: center;
  justify-content: right;
  width:25%; 
} 
.right-menu button{
  outline: 0;
  border: 0;
  background: transparent;
  font-size: 18px;
  margin: 10px;
  padding-top: 5px;
} 
.right-menu button i{
  color: #000;
}
.right-menu span{
  position: relative;
  text-align: center;
  top: -8px;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 3px;
  border-radius: 50px;
}

header .right-menu i:hover{
  color: #efefef;
  }


  .search-box{
    position: absolute;
    width: 450px;
    top: 88px;
   justify-content: center;
    border-radius: 5px;
    background: #fff;

  }
  .row{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #999; 

  }
  .search-box input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: gray;
  }
  .search-box button{
    background: transparent;
    border: 0;
    outline: 0;
  }
  .search-box button .fa-solid{
    width: 25px;
    color: #555;
    font-size: 18px;
    cursor: pointer;
  }
  .search-box .product-result .product{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .search-box .product img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px 10px; 

  }
  .search-box .product .p-details{
    padding-left: 15px;
    text-transform: capitalize;
  }
  .search-box .product .p-details h2{
  font-size: 18px;
 }
 .search-box .product .p-details h3{
  font-size: 16px;
  
 }
 .search-box .product:hover{
    background: #e9f3ff;

  }


/* sidebar---------------------------------------> */
.side-bar{
  background:rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  border-radius:0 10px 10px 0;
}
.side-bar.active{
  left: 0;
  box-shadow:0 0 0 10000px rgba(0,0,0,.50);

}
.side-bar::-webkit-scrollbar{
  display: none;
}
.side-bar .menu{
  width: 100%;
  margin-top: 80px;
  text-align: left;
  scrollbar-width: none;

}
.side-bar .menu .item{
  position: relative;
  cursor: pointer;
}
.side-bar .menu .item a{
  color: #000;
  font-size: 14px;
  font-weight: 300;
  font-style: var(--Poppins);
  text-transform: uppercase;
  word-spacing: 1px;
  display: block;
  padding: 5px 30px;
  line-height: 60px;  
}

.side-bar .menu .item a:hover{
  background:#efefef;
  transition: 0.3s ease;
}
.side-bar .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}
.side-bar .menu .item .sub-menu{
  background:rgba(255, 255, 255, 0.1);
  display: none;
}
.side-bar .menu .item .sub-menu a{
  padding-left: 50px;
}
.rotate{
  transform: rotate(90deg);
}
.close-btn{
  position: absolute;
  color: #000;
  right: 0;
  margin: 25px;
  font-size: 19px;
  cursor: pointer;
}
.side-bar .social-links{
  border-right:1px solid #fff ;
  margin-top: 30px;
}

.side-bar .social-links{
  text-align:left;
}
.side-bar .social-links li{
  display: inline;
  margin-left: 28px;
  font-size: 22px;
}
.side-bar .social-links li i{
  color: #000000c0;
}
.side-bar .social-links li i:hover{
  color: #fff;
}

/* sidebar---------------------------------------> */


.center-title{
  padding-top: 10rem;
  line-height: 70px;
}
.center-title h1{
font-family: var(--Open_Sans);
font-size: 2.5rem;
font-weight: 500;
}
.center-title h5{
font-family: var(--Poppins);
font-size: 18px;
font-weight: 400;
}
.center-title .shop_now{
  font-size: 15px;
  font-weight: 200;
  border: none;
  padding: 10px 20px;
  font-style: var(--Poppins);
  text-transform: uppercase;
  color: #fff;
  background: #929487;
  cursor: pointer;
  text-align: center;
}
.center-title .shop_now:hover{
  color: #000;
}
/* cart------------------------------- */
#open_cart_btn{
  border: none;
  background: none;
}
.sidecart{
  background:rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  position: fixed;
  top:0 ;
  right:0 ;
  height: 100vh;
  width: 350px;
  transform: translateX(110%);
  transition: transform 0.5s ease-in-out;
 
}
.sidecart.open{
  transform: translateX(0);
  box-shadow:0 0 0 10000px rgba(0,0,0,.50);

}

.cart_content{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cart_header{
  padding: 1rem;
  border-bottom: 1px solid rgb(145, 144, 144);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_header .close_btn{
font-size: 2rem;
cursor: pointer;
transition: transform 0.2s ease;
}
.cart_header .close_btn:hover{
  transform: scale(1.1);

}
.cart_items{
  flex: 1;
  overflow-x: hidden;
}
.cart_item{
  position: relative;
  padding: 1rem;
  width: 100%;
  min-height: 150px;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.item_img{
  flex: 1;
}
.item_img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}
.item_details p{
  color: black;
}
.item_details input{
  display: flex;
  width: 50%;
  text-align: center;
  border: 1px solid lightgray;
 border-radius: 10px;

}
.item_details{
  flex: 2;
  padding-top:1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction:column ;
  gap: 1rem;
}

.cart_action{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid lightgray;
  box-shadow: 0 -5px 10px lightgray;
}
.cart_action .subtotal{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}
.cart_action button{
  border: none;
  background-color: #000;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  padding: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.cart_action button a{
  color: #fff;
  font-size: 12px;

 
}
.cart_action button:nth-of-type(2){
    background-color: blue;
}

/* cart------------------------------- */

/* nav---------------------------> */

/* main---------------------------> */

/*carousel---------------------------> */
#carousel{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 57vh;
  /* background: violet; */
  padding: 0 25px;
}
 .wrapper{
  max-width: 1320px;
  width: 100%;
  position: relative;
} 
.wrapper i{
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper i:first-child{
  left: -20px;
}
.wrapper i:last-child{
  right: -20px;
}

 .wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 6) - 8px);
  gap: 12px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar{
  display: none;
}
.card .img img{
  width: 190px;
  height: 190px;
  object-fit: cover;
}
.carousel .dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel .dragging .card{
  cursor: grab;
  user-select: none;
}
.carousel .card{
  scroll-snap-align: start;
  list-style: none;
  background: #fff;
  height: 240px;
  width: 190px;
  margin: 2px 2px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  
}
.card h4{
  font-size: 16px;
  font-weight: 200;
 font-family: var(--Roboto);
  
}
.carousel_break_line{ 
  color: #023953;
  padding: 0 4rem;
  width: 100%;
}
.carousel_break_line hr{
  border: 2px solid #e6e5e5af;
}
@media screen and (max-width: 900px){
  .wrapper .carousel{
  grid-auto-columns: calc((100% / 4) - 6px);
}
}
@media screen and (max-width: 600px){
  .wrapper .carousel{
    grid-auto-columns: calc((100% / 2) - 6px);
  }
  }
/*carousel---------------------------> */

/*blog-containt---------------------------> */


.blog-container{
  height: 100%;
  background: #FFFFFF;
  padding: 10px 60px;
  overflow-x: hidden;
 }
 .blog-container .firstdiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .blog-container img{
  width: 100%;
  height: 100%;
 
 }
 .blog-container .left{
  padding: 100px 25px;

 }
 .blog-container #fistbox{
  margin: 70px 0;
  text-align: center;
 }
 .blog-container #secondbox{
  text-align: center;
 }
 .blog-container #thirdbox{
  margin: 70px 0;
  padding:20px 0 ;
  height: 28rem;
  text-align: center;
 }
 .blog-container .boldtext{
  margin: 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 400;
  word-spacing: 5px;
  letter-spacing: 3px;
 }
.blog-container .lighttext{
  margin: 25px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 200;
}
.blog-container button{
  padding: 10px 25px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
}

/*blog-containt---------------------------> */

/*advisory-profile---------------------------> */

.advisercontainer{
  width: 100%;
  overflow: hidden;
}
.advisertitle h1{
  font-family: var(--Open_Sans);
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 20px;
  color: #222222;
}
.advisertitle p{
  text-transform: capitalize;
  font-family: var(--Titillium_Web);
  color: #585858;
  font-size: 18px;
  line-height: 20px;
  margin: 20px;
  padding-bottom: 15px;
}
.advisertitle{
  justify-content: center; 
  text-align: center;
}
.adviserpanel{
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 25px;
}
.profile{
  padding: 10px 25px;
  text-align: center;
}
.profileimg{
  width: 385px;
  height: 365px;
}
.profileimg img{
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile-info{
  text-transform: capitalize;
  font-family: var(--Roboto);
}
.profile-info h1{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}
.profile-info h2{
  color: #585858;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 100;
}
/*advisory-profile---------------------------> */
/*featured-product---------------------------> */

.feturedcontainer{
  width: 100%;
  padding: 25px 0;
  overflow: hidden;

 }
 .feturedcontainer .headline{
 text-align: center;
 padding-bottom:25px;
 font-family: var(--Poppins);
 font-size: 22px;
 font-weight: 600;
 }
.feturedproduct{
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.feturedproduct .productbox{
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  float: left;
}
.feturedproduct .productimg{
 
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.feturedproduct .productbox img{
  display: block;
  width: 100%;
  transform: scale(1);  
  transition: all 0.3s;

}
.feturedproduct .productbox:hover img {
  transform: scale(1.1);
}
.feturedproduct .productinfo{
  text-align: left;

}
.productinfo h1{
  padding: 10px 0 ;
 font-family: var(--Poppins);
  font-size:14px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
}
.productinfo h1:hover{
  text-decoration: underline;
}

.productinfo button{ 
 text-align: left;
 font-family: var(--Poppins);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px;
  width: 100%;
  border: 1px solid #000;
  background: #887f7f;
  color: #fff;
}
.productinfo button:hover{
background: transparent;
color: #2c2b2b;
}
/*featured-product---------------------------> */
 /* <!-- /*insta tagline--------------------------->   */
 .instalink{
  width: 100%;
  height: 10rem;
  
 }
 .instalink h1{
  text-align: center;
  font-family: var(--Open_Sans);
  font-size: 3rem;
  font-weight: 600;
  color: #414040;
  margin-bottom: 1rem;
  

 }
 .instalink h2{
  text-align: center;
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 2rem;
  color: #414040;

 }
 .instalink h2 a {
  text-decoration: underline;
  color: #000;
 }
/* <!-- /*insta tagline--------------------------->  */
.box{
  overflow: hidden;
  width: 100%;
  /* height: 50vh; */
  padding-top: 30px;
  justify-content: center;
  text-align: center;
}
.box  h1{
  font-family: var(--Open_Sans);
  font-size: 2.1rem;
  font-weight: 600;
  color: #2b2a2a; 

}
.box  p{
  font-family: var(--Poppins);
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  color: #414040;
  margin: 25px 0;
  text-transform: uppercase;
}
.box input{
font-size: 18px;
width: 25%;
border: none;
padding: 10px 20px;
/* margin-right: 5px; */
outline: none;
background: #efefef;
}

.box button{
  color: #fff;
  font-size: 18px;
  /* text-transform:uppercase; */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background: #023953;
}
/* main---------------------------> */

/* footer---------------------------> */
footer{
  width: 100%;
  height: 380px;
  background:#8E937F;
  color: #fff;
  text-decoration: none;

}
.footer{
  display:grid;
  color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(160px,auto));
  }
  footer a{
    color: #fff;
    font-family: var(--Roboto);
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
  }

footer ul{
  margin: 1rem;
  list-style-type: none;
}
footer h1{
  padding: 25px 0 0 20px;
}
footer ul li{
  font-weight: 100;
  padding: 10px;
}
footer h3{
  padding: 10px 0;
  text-align: center;
}
.footer .footer_logo{
 padding: 30px 0;
 cursor: pointer;

}
.footer .footer_logo img{
  width:14rem;
 }
.footer .social-links{
  border-right:1px solid #fff ;
}
.footer .social-links h1{
  text-align: center;
  font-family: var(--Open_Sans);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.footer .social-links{
  text-align: center;
  justify-content: center;
}
.footer .social-links li{
  display: inline;
  margin: 5px;
  font-size: 30px;
}
.footer .social-links li i{
  color: #fff;
  font-size: 25px;
}
.footer .social-links li i:hover{
  color: #000;
}
.footer .product-list h1{
  text-align: left;
  font-family: var(--Open_Sans);
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
 

}
.footer .product-list{
  border-right:1px solid #fff ;
}

.footer .aboutus{
  border-right:1px solid #fff ;

}
.footer .aboutus a{
  color: #fff;
}

/* footer---------------------------> */





